.post{
    margin: 1rem 0;
    padding: 1rem;
    background-color: #7260e2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    animation: animate-in 1s ease-out forwards;
}

.author {
    font-size: 0.8rep;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
    text-align: left;

}

.text {
    font-size: 0.8rep;
    font-weight: 200;
    color: #53416a;
    margin: 0;
    text-transform: lowercase;
    text-align: left;
    
}